<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/dashboard.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>{{ .Title }}</title>
</head>

<body>
    <h1>{{ .Heading }}</h1>
    <article>
        {{ template "setpoint" . }}
        {{ template "roomstats" . }}
    </article>

    <script src="/wscmdr.js"></script>
    <script>
        const updater = new PageUpdater('ws://{{ .HostAddr }}/ws');
    </script>
</body>

</html>