<!DOCTYPE html>
<html>

<head>
    <title>Sensors</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">Thermostats</a></li>
            <li><a href="/sensors">Sensors</a></li>
            <li><a href="/actuators">Actuators</a></li>
        </ul>
    </nav>

    <h1>Sensors</h1>
    {% if sensors %}
    <ul>
        {% for sensor in sensors %}
        <li>{{ sensor.type }} ({{ sensor.id }})</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>The list of sensors is empty.</p>
    {% endif %}

    <hr>

    <h2>Add MQTT Sensor</h2>
    <form id="addSensorForm" action="/sensors" method="post">
        <label for="mqttSubject">MQTT Subject:</label>
        <input type="text" id="mqttSubject" name="mqttSubject" required><br>

        <label for="brokerIpAddress">Broker IP Address:</label>
        <input type="text" id="brokerIpAddress" name="brokerIpAddress" value="192.168.50.193"><br>

        <label for="brokerPort">Broker Port Number:</label>
        <input type="number" id="brokerPort" name="brokerPort" value="1883"><br>

        <input type="submit" value="Add Sensor">
    </form>

</body>

</html>