<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hydronic System</title>
    <script src="https://unpkg.com/htmx.org@1.8.4"></script>
</head>

<body style="padding: 10px; height: 100vh; background-color: rgb(236, 240, 243);">
    <h1>Hydronic System State</h1>
    <div style="display: flex; justify-content: center; align-items: center; max-width: 90%; margin: auto;">

        {{template "state-diagram.html" .}}
        
    </div>

</body>

</html>